.app-container {
    height: 100vh;
}
.app-container * {
    display: flex;
}
.nav-container {
    width: 100%;
    padding: 10px;
}
.nav-inner {
    flex: 1;
    flex-flow: column nowrap
}
.nav-upper, .nav-lower {
    flex-flow: row nowrap;
    flex: 0 0 40px;
    justify-content: space-between;
    align-items: center;
}
.nav-middle {
    flex: 1;
    flex-flow: row nowrap;

}
.logo, .menu-icon {
    height: 30px;
    width: 30px;
}
.dropdown-container {
    flex: 1;
    background: #fff;
    flex-flow: column nowrap;
    align-items: center;
    
}
.list-container {
    flex: 1;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

p, h1, h2, h3, h4, ul, li, div, a {
    font-family: "Dosis", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
   margin: 0;
   padding: 0;
}
h4 {
    font-size: 18px;
    padding: 5px 0;
}
a {
    font-size: 17px;
    color:#250fb2;
    font-weight: 500;
}

.page-container {
    background: #efefef;
    align-items: stretch;
    height: calc(100vh - 100px)
}

.page-container, .page-inner {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}
.page, .register-container form, .input-container, .dashboard-container, .body-container {
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}
.body-container form, .form-container {
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.trip-body {
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}
.page-inner {
    flex-flow: column nowrap;
    padding: 10px;
}
.page {
    padding: 10px;
    align-items: center;
    flex: 1;
    background: #fff;
}
.page-title, .page-title a {
    font-size: 26px;
    font-weight: 600;
    padding: 15px 0;
}

.page-subtitle {
    width: 100%;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    padding: 15px 0 5px;
}

.input-container {
    flex: 1;
    padding: 10px;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 10px;
}
.check, .cancel {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    border: 1px #222 solid;
    margin: 5px;
    padding: 5px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.input-text {
    height: 40px;
    border: none;
    background: #efefef;
    font-size: 22px;
    padding: 5px;
}
.input-label {
    /* flex: 1; */
    font-size: 18px;
    padding: 5px 0;
}
.button {
    border:#efefef 3px solid;
    background: #fff;
    padding: 5px 15px;
    font-size: 18px;
}
span.required {
    color: red;
    padding: 0 10px;
}
.dashboard-display {
    border: 1px black solid;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
}
.checkbox-display, .radio-display {
    flex-flow: column nowrap;
    gap: 15px;
    font-size: 18px;
    padding: 5px 0;
}
.checkbox-display>div, .radio-display>div {
    flex-flow: row nowrap;
    /* flex: 1; */
    gap: 10px
}
.location-list {
    width: 100%;
    flex-flow: column nowrap;
}
.location-list > div{
    border: 1px #222 solid;
    padding: 10px;
    margin: 10px;
}
.return {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
}